@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --header-height: 3rem;

    --left-toolbar-width: 18rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (prefers-color-scheme: light) {
    :root {
    }
}
